<link rel="stylesheet" href="/css/user_profile.css">


<div class="body">
<img src="<%= user.avatar %>"  width="60%">



<% if(user.id==profile_user.id){ %>
    <!-- if ptofile matches then show update form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit" value="Update">
    </form>
<% }else{ %>
    <!-- else show only the profile info -->
    <div>
        <h4><%= profile_user.name %></h4>
        <cite><%= profile_user.email %></cite>
    </div>
<% }%>

</div>